<?xml version="1.0"?>
<!--
/**
 * interswitch Extension
 *
 * DISCLAIMER
 * This file will not be supported if it is modified.
 */
-->
<config>
  <modules>
    <Interswitch_Pay>
      <version>1.0.0</version>
    </Interswitch_Pay>
  </modules>

  <global>

    <helpers>
      <interswitch_pay>
        <class>Interswitch_Pay_Helper</class>
      </interswitch_pay>
    </helpers>

    <blocks>
      <interswitch_pay>
        <class>Interswitch_Pay_Block</class>
      </interswitch_pay>
    </blocks>

    <models>
      <interswitch_pay>
        <class>Interswitch_Pay_Model</class>
      </interswitch_pay>
    </models>

    <resources>
      <interswitch_pay_setup>
        <setup>
          <module>Interswitch_Pay</module>
        </setup>
      </interswitch_pay_setup>
    </resources>
  </global>

  <default>
    <payment>
      <interswitch_pay>
        <active>1</active>
        <model>interswitch_pay/paymentmethod</model>
        <order_status>pending</order_status>
        <terminal_id></terminal_id>
        <title></title>
        <allowspecific>0</allowspecific>
        <test_mode>1</test_mode>
        <use_standard>0</use_standard>
        <domain>ISWKE</domain>
        <merchant_code></merchant_code>
        <client_id></client_id>
        <client_secret></client_secret>
        <icon_url></icon_url>
        <preauth></preauth>
  
        <payment_action>sale</payment_action>
      </interswitch_pay>
    </payment>
  </default>

  <frontend>
    <routers>
      <interswitch>
        <use>standard</use>
        <args>
          <module>Interswitch_Pay</module>
          <frontName>interswitch</frontName>
        </args>
      </interswitch>
    </routers>
  </frontend>
</config>
